<div class="form">
  <fieldset>
        <h2>Your info</h2> 

        <%= form_for @partner do |f| %>
          <%= render "shared/error_messages", :target => @partner %>

          <div class="form_section">
            <div class="clearfix">
              <%= f.label :firstname %>
              <div class="input">
                <%= f.text_field :firstname, :class => "field" %>
              </div>
            </div>
            
            <div class="clearfix">
              <%= f.label :lastname %>
              <div class="input">
                <%= f.text_field :lastname, :class => "field" %>
              </div>
            </div>
          </div> <!-- name -->

          <div class="form_section">
            <div class="clearfix">
              <%= f.label :business_name %>
              <div class="input">
                <%= f.text_field :business_name, :class => "field" %>
              </div>
            </div>
          </div>

          <div class="form_section">
            <div class="clearfix">
              <%= f.label :email1 %>
              <div class="input">
                <%= f.text_field :email1, :class => "field" %>
              </div>
            </div>
          </div> <!--form section-->

          <div class="form_section">
            <div class="clearfix">
              <%= f.label :website %>
              <div class="input">
                <%= f.text_field :website, :class => "field" %>
              </div>
            </div>
          </div>
                 <!-- ADDRESS -->   

          <div class="form_section">
            <h2>Your shipping address</h2>
            <div class="clearfix">
              <%= f.label :address_line1, "Address 1" %>
              <div class="input">
                <%= f.text_field :address_line1, :class => "field" %>
              </div>
            </div>

            <div class="clearfix">
              <%= f.label :address_line2, "Address 2" %>
              <div class="input">
                <%= f.text_field :address_line2, :class => "field" %>
              </div>
            </div>

            <div class="clearfix">
              <%= f.label :address_city, "City" %>
              <div class="input">
                <%= f.text_field :address_city, :class => "field" %>
              </div>
            </div>

            <div class="clearfix">
              <%= f.label :address_state, "State/Province/Region" %>
              <div class="input">
                <%= f.text_field :address_state, :class => "field" %>
              </div>
            </div>

            <div class="clearfix">
              <%= f.label :address_zip, "Zip/Postal Code" %>
              <div class="input">
                <%= f.text_field :address_zip, :class => "field" %>
              </div>
            </div>

            <div class="clearfix">
              <%= f.label :address_zip, "Zip/Postal Code" %>
              <div class="input">
                <%= f.text_field :address_zip, :class => "field" %>
              </div>
            </div>
          </div><!-- form selection -->

          <div class="form_section">
            <div class="clearfix">
              <%= f.label :story, "Tell us about your business. We like to hear stories!" %>
              <div class="input">
                <%= f.text_area :story, size: "30x15" %>
              </div>
            </div>
          </div> <!-- form selection -->

          <div class="form_submit">
            <div class="actions">
                <%= f.submit "submit", :class => "btn primary" %>
            </div>
          </div>
        <%end%>
  </fieldset>   
</div>